header {
	width: 100%;
	background-color: $strawberry;
}

.leftcontainer {
	text-align: center;
}

#streetartlogo {
	margin: 5px;
	height: 140px;
}

.headerright {
	float:right;
	display: flex;
	width: 200px;
	flex-wrap: nowrap;
	margin-top: 40px;
}

#profilepicture, .username {
	height: 60px;
	cursor: pointer;
}

.username {
	line-height: 60px;
	margin-left: 12px;
	font-size: 18px;
	color: $greytext;
}



/*media queries for small and large computer screens*/
@media screen and (min-width: 769px) {
	#header {
		height: 150px;
	}

}


/*media queries for tablet*/
@media screen and (max-width: 768px) {
	#header {
		height: 300px;
	}

	.headerright {
		float: none;
		margin:	10px auto 20px auto;
	}

}

